{% extends 'base_frontend.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="panel-heading custom-header-panel">
                    <div class="col-sm-3" align="left">
                        <img class="img-responsive" width="40%" height="40%" src="/bundles/icfrontend/images/l-t.png">
                    </div>
                    <div align="left">
                        <h3>Servicios Profesionales S.A de C.V</h3>
                        <h2 class="panel-title roboto">Solicitud de Soporte</h2>
                    </div>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input class="btn btn-success" style="margin: 5px;" type="submit" value="Enviar" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}