{% extends '::base_frontend.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/bundles/icfrontend/css/mensajes/msgStyle.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Mensaje <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Mensajes</a></li>
                    <li><a href="#">Contactos</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <!-- Split button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default">
                    <div class="checkbox" style="margin: 0;">
                        <label>
                            <input type="checkbox">
                        </label>
                    </div>
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Todos</a></li>
                    <li><a href="#">Le&iacute;dos</a></li>
                    <li><a href="#">No Le&iacute;dos</a></li>
                    <li><a href="#">Spam</a></li>
                    <li><a href="#">Unstarred</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-default" data-toggle="tooltip" title="Refresh">
                   <span class="fa fa-refresh"></span>   </button>
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    More <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Marcar como le&iacute;do</a></li>
                    <li class="divider"></li>
                    <li class="text-center"><small class="text-muted">Seleccionar mensaje para ver m&aacute;s acciones</small></li>
                </ul>
            </div>
            <div class="pull-right">
                <span class="text-muted"><b>1</b>–<b>50</b> of <b>277</b></span>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default">
                        <span class="fa fa-chevron-left"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <a href="#" class="btn btn-danger btn-sm btn-block" role="button">Crear</a>
            <hr />
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right">42</span> Bandeja </a>
                </li>
                <li><a href="#">Importante</a></li>
                <li><a href="#">Mensajes Enviados</a></li>
                <li><a href="#"><span class="badge pull-right">3</span>Borradores</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#" data-toggle="tab"><span class="fa fa-inbox">
                </span>Principal</a></li>
                <li><a href="#" data-toggle="tab"><span class="fa fa-user"></span>
                        Social</a></li>
                <li><a href="#" data-toggle="tab"><span class="fa fa-tags"></span>
                        Promotiones</a></li>
                <li><a href="#" data-toggle="tab"><span class="fa fa-plus no-margin">
                </span></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                            <span class="fa fa-star-o"></span><span class="name" style="min-width: 120px;
                                display: inline-block;">Bhaumik Patel</span> <span class="">This is big title</span>
                            <span class="text-muted" style="font-size: 11px;">- Hi hello how r u ?</span> <span
                                    class="badge">12:10 AM</span> <span class="pull-right"><span class="fa fa-paperclip">
                                </span></span></a><a href="#" class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                            <span class="fa fa-star-o"></span><span class="name" style="min-width: 120px;
                                        display: inline-block;">Bhaumik Patel</span> <span class="">This is big title</span>
                            <span class="text-muted" style="font-size: 11px;">- Hi hello how r u ?</span> <span
                                    class="badge">12:10 AM</span> <span class="pull-right"><span class="fa fa-paperclip">
                                        </span></span></a><a href="#" class="list-group-item read">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                            <span class="fa fa-star"></span><span class="name" style="min-width: 120px;
                                                display: inline-block;">Bhaumik Patel</span> <span class="">This is big title</span>
                            <span class="text-muted" style="font-size: 11px;">- Hi hello how r u ?</span> <span
                                    class="badge">12:10 AM</span> <span class="pull-right"><span class="fa fa-paperclip">
                                                </span></span></a>
                    </div>
                </div>
                <div class="tab-pane fade in" id="profile">
                    <div class="list-group">
                        <div class="list-group-item">
                            <span class="text-center">This tab is empty.</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="messages">
                    ...</div>
                <div class="tab-pane fade in" id="settings">
                    This tab is empty.</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}