{% extends 'base_frontend.html.twig' %}

{% block content %}

    {#<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default panel-table">
        <div class="panel-body">
            <table class="table table-striped table-bordered table-list">
                <thead>
                <tr>
                    <th>Tipo de Solicitud</th>
                    <th>Posici&oacute;n</th>
                    <th>Fecha de Alta</th>
                    <th>Fecha de Aceptaci&oacute;n</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><i class="fa fa-check fa-2x"></i></td>
                    <td align="center"><span class="label label-success">Activa</span></td>
                    <td><i class="fa fa-address-card-o fa-2x"></i></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>#}

    <div class="container">
        {% if is_granted(['ROLE_USUARIO', 'ROLE_CORDINADOR', 'ROLE_GERENTE', 'ROLE_DIRECTIVO']) %}
            <div class="col-md-3" align="center">
                <a class="btn btn-block btn-lg btn-success">
                    <i class="fa fa-check fa-3x"></i></a>
                <label for="solicitud">Llenado de Solicitud</label>
            </div>
        {% endif %}

        {% if is_granted('ROLE_USUARIO') %}
            <div class="col-md-3" align="center">
                <a disabled="true" class="btn btn-block btn-lg btn-primary">
                    <i class="fa fa-cog fa-spin fa-3x"></i></a>
                <label for="">Autorizaci&oacute;n Coordinador</label>
            </div>
        {% endif %}
        {% if is_granted('ROLE_USUARIO') %}
            <div class="col-md-3" align="center">
                <a disabled="true" class="btn btn-block btn-lg btn-primary">
                    <i class="fa fa-cog fa-spin fa-3x"></i></a>
                <label for="">Autorizaci&oacute;n Gerente</label>
            </div>
        {% endif %}
        {% if is_granted(['ROLE_USUARIO']) %}
            <div class="col-md-3" align="center">
                <a disabled="true" class="btn btn-block btn-lg btn-primary">
                    <i class="fa fa-cog fa-spin fa-3x"></i></a>
                <label for="">Autorizaci&oacute;n Directivo</label>
            </div>
        {% endif %}
        {#role_coordinador#}
        {% if is_granted(['ROLE_CORDINADOR', 'ROLE_GERENTE', 'ROLE_DIRECTIVO']) %}
            {#{% if { 'token': token ,'estatus' : estatus, 'rol' : rol , 'modo' : 'Aceptada'} %}#}
            <div class="col-md-3" align="center">
                <a disabled="true" class="btn btn-block btn-lg btn-success">
                    <i class="fa fa-check fa-3x"></i></a>
                <label for="">Autorizaci&oacute;n Coordinador</label>
            </div>
        {% endif %}
        {% if is_granted('ROLE_CORDINADOR') %}
            <div class="col-md-3" align="center">
                <a disabled="true" class="btn btn-block btn-lg btn-primary">
                    <i class="fa fa-cog fa-spin fa-3x"></i></a>
                <label for="">Autorizaci&oacute;n Gerente</label>
            </div>
        {% endif %}
        {% if is_granted(['ROLE_CORDINADOR']) %}
            <div class="col-md-3" align="center">
                <a disabled="true" class="btn btn-block btn-lg btn-primary">
                    <i class="fa fa-cog fa-spin fa-3x"></i></a>
                <label for="">Autorizaci&oacute;n Directivo</label>
            </div>
        {% endif %}

        {#role_gerente#}
        {% if is_granted(['ROLE_GERENTE', 'ROLE_DIRECTIVO']) %}
            <div class="col-md-3" align="center">
                <a disabled="true" class="btn btn-block btn-lg btn-success">
                    <i class="fa fa-check fa-3x"></i></a>
                <label for="">Autorizaci&oacute;n Gerente</label>
            </div>
        {% endif %}
        {% if is_granted('ROLE_GERENTE') %}
            <div class="col-md-3" align="center">
                <a disabled="true" class="btn btn-block btn-lg btn-primary">
                    <i class="fa fa-cog fa-spin fa-3x"></i></a>
                <label for="">Autorizaci&oacute;n Directivo</label>
            </div>
        {% endif %}

        {#role_directivo#}
        {% if is_granted('ROLE_DIRECTIVO') %}
            <div class="col-md-3" align="center">
                <a disabled="true" class="btn btn-block btn-lg btn-success">
                    <i class="fa fa-check fa-3x"></i></a>
                <label for="">Autorizaci&oacute;n Directivo</label>
            </div>
        {% endif %}

    </div>


{% endblock %}