{% extends 'base_frontend.html.twig' %}
{% block content %}
    <div class="container">
        <div class="process">
            <div class="process-row">
                <div class="process-step">
                   {# <a href="{{ path('frontend_noticias_detalle', {'id' : n.idNoticia.id, 'slug' : n.slug}) }}">#}


                        <a href="#" ><button type="button" class="btn btn-danger btn-circle" disabled="disabled"><i class="fa fa-check fa-3x"></i></button></a>
                    <p>Env&iacute;o de Solicitud</p>
                </div>
                <div class="process-step">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-address-card-o fa-3x"></i></button>
                    <p>Aprobaci&oacute;n de Centro de Costo</p>
                </div>
                <div class="process-step">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-address-card-o fa-3x"></i></button>
                    <p>Aprobaci&oacute;n de Jefe Directo de Centro de Costo</p>
                </div>
                <div class="process-step">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-address-card-o fa-3x"></i></button>
                    <p>Aprobaci&oacute;n Directiva</p>
                </div>
            </div>
        </div>
    </div>
        <section class="box-position"><!--message -->
            <div class="container">
                <div class="col-xs-12 col-md-3 col-sm-4 pull-right">
                    <div class="panel"> <!-- Message box title    -->
                        <div class="panel-heading top-bar" role="tab" id="open-message">
                            <div class="col-md-10 col-xs-10">
                                <p class="panel-title"><span class="fa fa-envelope"></span> Enviar Mensaje</p>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#message" aria-expanded="false" aria-controls="message">
                                    <span class="fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                    <div id="message" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"> <!-- Message body	-->
                        <div class="panel-body-ss">
                            <form  action="#">

                                <div class="form-group ">
                                    <input type="text" class="form-control" id="correo" placeholder="ejemplo@xolos.com.mx" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Asunto" placeholder="Asunto" required="required">
                                </div>
                                <div class="form-group">
                                    <textarea type="text" class="form-control" id="Mensaje" placeholder="Redacta aqu&iacute; tu mensaje..." required="required"></textarea>
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="form-control btn-success" id="submit" value="Enviar">
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>
{#        <div class="envelope">
            <a href="{{ path('frontend_nuevo_mensaje') }}"><button type="button" class="btn btn-default btn-circle"><i class="fa fa-envelope fa-3x"></i></button></a>
            <p>Enviar Mensaje</p>
        </div>#}
{% endblock %}