{% extends 'base_frontend.html.twig' %}

{% block content %}

    <div class="col-sm-12">
        <div class="col-sm-3 ">
            <a href="{{ path('frontend_solicitud_anticipo') }}" ><img class="img-responsive" src="/bundles/icfrontend/images/anticipacion.png">
            <label class="santicipo">Solicitud de Anticipo de Gastos</label></a>
        </div>
        <div class="col-sm-3 ">
            <a href="{{ path('frontend_solicitud_reembolso') }}" ><img class="img-responsive" src="/bundles/icfrontend/images/reembolso.png">
            <label class="sreembolso" >Solicitud de Reembolso de Gasto</label></a>
        </div>
        <div class="col-sm-3 ">
            <a href="{{ path('frontend_solicitud_requisicion') }}" ><img class="img-responsive" src="/bundles/icfrontend/images/requisicion.png">
                <label class="srequisicion">Solicitud de Requisici&oacute;n de Compra</label></a>
        </div>
        <div class="col-sm-3 ">
            <a href="{{ path('frontend_solicitud_comprobacion') }}" ><img class="img-responsive" src="/bundles/icfrontend/images/CIngresossttlo.png">
            <label class="scomprobacion">Solicitud de Comprobaci&oacute;n de Gastos</label></a>
        </div>
    </div>



{% endblock %}