
            <style type="text/css">

                div.page{
                    padding:0;
                    background-image: url('http://procesos.xolos.com.mx/uploads/formato-acreditacion.png');
                    background-repeat: no-repeat;

                    background-size: cover; }

            </style>


        <div class="page">

            <h5 style="margin-top:1cm; margin-left: 350px;">.</h5>

            <div style="margin-top:8.5cm; margin-left: 3cm;">
                <p style="font-size: 16pt; font-weight: bold; font-family:Helvetica ">{{ nombre }} </p>
            </div>

            <div style="margin-top:.5cm; margin-left: 3cm;">
                <p style="font-size: 14pt; font-weight: bold; font-family:Helvetica ">{{ puesto }} </p>
            </div>

            <div style="margin-top:-9cm; margin-left: 0cm;">
                <img src="{{ foto }}" height="130px" width="90px" />
            </div>

            <div style="margin-top: 2.5cm; margin-left: 0cm;">
                <img src="{{ codigo }}" height="80px" width="80px"  />
            </div>

        </div>
